@using shokhov_shop.ViewModels
@model ProductViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<link rel="stylesheet" href="~/css/offer.css">
<div class="foto_price">
    <div class="foto">
        <img class="big_img" src="@Model.Product.Image" alt="">
        <img class="big_img" src="@Model.Product.Image2" alt="">
        <img class="small_img" src="@Model.Product.Image3" alt="">
        <img class="small_img" src="@Model.Product.Image4" alt="">
        <img class="small_img" src="@Model.Product.Image5" alt="">
    </div>
    <div class="price">
        <h3>@localizer[Model.Product.Sub_category]</h3>
        <h2 class="f_left">@localizer[Model.Product.Name_For_User]</h2><h2 class="f_right">@Model.Product.Price ГРН.</h2>
        <h3>id - @Model.Product.Id</h3>
        <h5>@localizer["Розміри"]</h5>
        <form asp-action="Add_Product" asp-controller="Orders" enctype="multipart/form-data" method="post">
             
            <input type="hidden" value="@Model.Product.Id" asp-for="@Model.Set_Product.Id_Product" />
            <section class="vertical-menu">            
                <select asp-for="@Model.Set_Product.Set_Size" class="form-control">
                    @foreach(string item in  Model.Product.Sizes.Split(","))
                    {
                        <option value="@item">@localizer[item]</option>
                    }
                </select>            
            </section>
            <button>@localizer["Додати до кошика"]</button>
        </form>
    </div>
</div>
<div class="description">
    <h2>@localizer["ОПИС"]</h2>
    <h3>@localizer[Model.Product.Description]</h3>
</div>
